{% load static %}

<div class="col-md-4">
    <div class="card mb-4">
        {% with image_path="img/"|add:ad_type|add:"/image.jpg" %}
        {% for key, value in images_dict.items%}
            {% if key == item.id %}
            <img src="{{ value.image.url }}" class="card-img-top" alt="{{ item.title }}" >
            {% endif%}
        {% endfor%}
        <img src="{% static image_path %}" class="card-img-top" alt="{{ item.title }}" style="display:block;">
        {% endwith %}
        <div class="card-body">
            <h5 class="card-title">{{ item.title|capfirst }}</h5>
            <p class="card-text">{{ item.get_category_display }}</p>
        </div>
        <button type='button' class="detail-button"><a href="{% url 'ad:ad_detail' ad_type item.id %}">View Details</a></button>
    </div>
</div>