{% extends "base.html" %}

{% block content %}
    <div class="list-heading">JOBS</div>
    <ul class="list-group">
        {% for item in jobs %}
            {% with ad_type='job' %}
            {% include "includes/card.html" %}
            {% endwith %}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
    <div class="list-heading">RENTALS</div>
    <ul class="list-group">
        {% for item in rentals %}
            {% with ad_type='rental' %}
            {% include "includes/card.html" %}
            {% endwith%}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
    <div class="list-heading">SALES</div>
    <ul class="list-group">
        {% for item in sales %}
            {% with ad_type='sale' %}
            {% include "includes/card.html" %}
            {% endwith %}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
    <div class="list-heading">SERVICES</div>
    <ul class="list-group">
        {% for item in services %}
            {% with ad_type='service' %}
            {% include "includes/card.html" %}
            {% endwith %}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
    <div class="list-heading">EVENTS</div>
    <ul class="list-group">
        {% for item in events %}
            {% with ad_type='event' %}
            {% include "includes/card.html" %}
            {% endwith%}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
    <div class="list-heading">CLASSES</div>
    <ul class="list-group">
        {% for item in classes %}
            {% with ad_type='class' %}
            {% include "includes/card.html" %}
            {% endwith %}
        {% empty %}
            <div class="unavailable">No ads available.</div>
        {% endfor %}
    </ul>
{% endblock %}