{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLX</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    <nav class='nav-bar'>
       <h1>OLX</h1>
       <input type="text">
       <div>{{request.user}}&nbsp;&nbsp;
        <a href="{% url 'customer:all_ad_list' %}"><button type='button' class="btn sell-button">BUY</button></a>
       </div>
    </nav>
    <div>
        <div>
        {% block title %}
        {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
