{% extends "base_account.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="account-container">
    <div class="account-form">
        <h2>Reset Your Password</h2>
        <form method="post">
            {% csrf_token %}
            <h3>New Password</h3>
            <div class="form-group">
                {{ form.new_password1|add_class:"form-control" }}
                {% if form.new_password1.errors %}
                    <div class="text-danger">
                        {% for error in form.new_password1.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <h3>Confirm New Password</h3>
            <div class="form-group">
                {{ form.new_password2|add_class:"form-control" }}
                {% if form.new_password2.errors %}
                    <ul class="text-danger">
                        {% for error in form.new_password2.errors %}
                            <li class="error-message">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
